body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.img-circle {
  border-radius: 50%;
}

#projects {
  background-color: #e2edff;
}

.main {
  padding-top: 5rem;
}

.mybody {
  padding-top: 5rem;
}

.footer {
  background-color: #0dcaf0;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.myfooter {
  flex-wrap: wrap;
  flex-direction: row;
}

.copy {
  margin-top: 10px;
  color: black;
}

.head {
  color: black;
}
